rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{roomCode} {
      allow read, write: if roomCode.size() > 0 && roomCode.size() <= 64;
    }
  }
}
